# Ignore the entire virtual environment folder
mypersonalenv/
data/
.env  
.venv
.vscode

# Python cache files
__pycache__/
*.pyc

# Other common ignores
.DS_Store
logs/
log/
results/
final_model

#wp-data
wp-csv-data/
wp-json-data/
wp-txt-data/